<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title" style="overflow:visible">Matematica</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="logout()">Logout</button>
    </div>
    <div class="buttons">
      <button class="button button-clear" ui-sref="home">Menu</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">

    <h3>Pagina per la descrizione della facoltà di matematica</h3>

  </ion-content>
</ion-view>