<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Prof</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="logout()">Logout</button>
    </div>
    <div class="buttons">
      <button class="button button-clear" ui-sref="home">Home</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
   
    <button class="button button-full button-balanced" ui-sref="newappello">Crea Appello</button>
    <button class="button button-full button-balanced" ui-sref="editappello">Edit appello</button>
    <button class="button button-full button-balanced" ui-sref="chiudiappello">Chiudi appello</button>
    <button class="button button-full button-balanced" ui-sref="elencoappello">Elenco Iscritti e voti</button>
    <button class="button button-full button-balanced" ui-sref="deleteappello">Cancella appello</button>
    


  </ion-content>
</ion-view>