<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Profilo</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="logout()">Logout</button>
    </div>
    <div class="buttons">
      <button class="button button-clear" ui-sref="home">Home</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">

    <h3>Info Studente </h3>
        <label class="item item-input">
            Email: {{currentaccount.email}}
        </label>
        <label class="item item-input">
            Firstname: {{currentaccount.firstname}}
        </label>
        <label class="item item-input">
            Lastname: {{currentaccount.lastname}}
        </label>
        <label class="item item-input">
            Data di nascita: {{currentaccount.bod}}
        </label>
        <label class="item item-input">
            Gender: {{currentaccount.gender}}
        </label>

    </ion-content>
</ion-view>